<!DOCTYPE html>
<html>
<head>
    <title>Список контактов</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/con.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <h1>Список контактов</h1>
    <div id="main">
{{#each data_fr}}
    <div>
        <p>
            <a href="/conts/{{this.id}}">{{this.username}}</a>
            {{#if this.status}} 
                <i class="fa fa-check" aria-hidden="true"></i>
            {{else}}
                <i class="fa fa-minus" aria-hidden="true"></i>
            {{/if}}
        </p>
    </div>
{{/each}}
    </div>
    <form action="/find" method="post">
        <input type="text" name="findid" placeholder="user's id" id="userid" required="">
        <input type="submit" value="find">
    </form>
</body>
<html>