<!DOCTYPE html>
<html>
<head>
    <title>Список контактов</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/con.css">
</head>
<body>
    <h1>Список контактов</h1>
    <div id="main">
{{#each this}}
    <div>
        
        <p><a href="/conts/{{this.id}}">{{this.username}}</a> {{this.status}}</p>
    </div>
{{/each}}
    </div>
    <form action="/addfriend" method="post">
        <input type="text" name="findid" placeholder="user's id" id="userid" required="">
        <input type="submit" value="find">
    </form>
</body>
<html>